{
  "cdhVersion" : "{{ deployment.clusters[0].products.CDH }}",
  "displayName" : "{{ deployment.clusters[0].name }}",
  "cmVersion" : "{{ deployment.cloudera_manager.version }}",
  "products" : [
    {%- set product_joiner = joiner(",") -%}
    {%- for product in scm_products -%}
    {{ product_joiner() }}
    {
      "product" : "{{ product.split('-')[0] }}",
      "version" : "{{ '-'.join(product.split('-')[1:]) }}"
    }
    {%- endfor -%}
  ],
  "services" : [
    {%- set service_joiner = joiner(",") -%}
    {%- for service_type in deployment.clusters[0].services -%}
    {%- set service_role_types = role_mappings[service_type] -%}
    {{ service_joiner() }}
    {%- include 'service.j2' -%}
    {%- endfor -%}
  ],
  "hostTemplates" : {%- include 'host_templates.j2' -%},
  "instantiator" : {%- include 'instantiator.j2' -%}
}
