{
  "clusterName" : "{{ deployment.clusters[0].name }}",
  "hosts" : [
    {%- set host_joiner = joiner(",") -%}
    {%- for host in groups['cdh_servers'] -%}
    {%- if 'host_template' in hostvars[host] -%}
    {{ host_joiner() }}
    {
      "hostName" : "{{ scm_hosts['names'][host] }}",
      "hostTemplateRefName" : "{{ hostvars[host]['host_template'] }}"
      {%- if 'role_ref_names' in hostvars[host] -%}
      ,"roleRefNames" : [ "{{ hostvars[host]['role_ref_names'] }}" ]
      {%- endif -%}
    }
    {%- endif -%}
    {%- endfor -%}
  ],
  "variables" : {%- include 'variables.j2' -%}
}
