{
  "refName": "{{ service_type }}-1",
  "serviceType": "{{ service_type }}",
  {%- set config_sep = joiner(",") -%}
  {%- if cluster_configs[service_type]['SERVICEWIDE'] is mapping -%}
  "serviceConfigs": [
  {%- for (k,v) in cluster_configs[service_type]['SERVICEWIDE'].iteritems() -%}
  {{ config_sep() }}
    {
      "name": "{{ k }}",
      "variable": "{{ service_type }}_SERVICEWIDE_{{ k | upper }}"
    }
  {%- endfor -%}],
  {%- else -%}
  "serviceConfigs": [],
  {%- endif -%}
  "roleConfigGroups": [
  {%- set role_group_sep = joiner(",") -%}
  {%- for role_type in service_role_types -%}
  {{ role_group_sep() }}
    {
      "refName": "{{ service_type }}-1-{{ role_type }}-BASE",
      "roleType": "{{ role_type }}",
      {%- set config_sep = joiner(",") -%}
      {%- if cluster_configs[service_type] is defined 
        and cluster_configs[service_type][role_type] is mapping -%}
      "configs": [
      {%- for (k,v) in cluster_configs[service_type][role_type].iteritems() -%}
      {{ config_sep() }}
      {
        "name": "{{ k }}",
        "variable": "{{ service_type }}_{{ role_type }}_{{ k | upper }}"
      }
      {%- endfor -%}],
      {%- else -%}
      "configs": [],
      {%- endif -%}
      "base": true
    }
  {%- endfor -%}
  ]
}