[
  {%- set config_joiner = joiner(",") -%}
  {%- for service_type in cluster_configs -%}
    {%- if cluster_configs[service_type] is mapping -%}
    {%- for (role_name,configs) in cluster_configs[service_type].iteritems() -%}
      {%- for (k,v) in configs.iteritems() -%}
      {{ config_joiner() }}
      {%- if (v is sameas true) or (v is sameas false) -%}
      {
        "name": "{{ service_type }}_{{ role_name }}_{{ k|upper }}",
        "value" : {{ v | lower }}
      }
      {%- else -%}
      {
        "name": "{{ service_type }}_{{ role_name }}_{{ k|upper }}",
        "value" : "{{ v }}"
      }
      {%- endif -%}
      {%- endfor -%}
    {%- endfor -%}
    {%- endif -%}
  {%- endfor -%}
]