{
  "name": "mgmt",
  "type": "MGMT",
  "roles": [
  {%- set role_sep = joiner(",") -%}
  {%- for role in mgmt_service_roles -%}
  {{ role_sep() }}
    {
      "name": "mgmt-{{ role }}",
      "type": "{{ role }}",
      "roleConfigGroupRef": {
        "roleConfigGroupName": "mgmt-{{ role }}-BASE"
      },
      "hostRef": {
        "hostId": "{{ scm_hosts['ids'][scm_host] }}"
      }
    }
  {%- endfor -%}
  ],
  "roleConfigGroups": [
  {%- set role_group_sep = joiner(",") -%}
  {%- for role in mgmt_service_roles -%}
  {{ role_group_sep() }}
    {
      "name": "mgmt-{{ role }}-BASE",
      "roleType": "{{ role }}",
      "base": true,
      "serviceRef": {
        "serviceName": "mgmt"
      },
      "config": {
        
        {%- if scm_configs.MGMT[role] is mapping -%}
        "items": [
        {%- set config_sep = joiner(",") -%}
        {%- for (k,v) in scm_configs.MGMT[role].items() -%}
        {{ config_sep() }}
          {%- if (v is sameas true) or (v is sameas false) -%}
          {
            "name" : "{{ k | lower }}",
            "value" : {{ v | lower }}
          }
          {%- else -%}
          {
            "name" : "{{ k | lower }}",
            "value" : "{{ v }}"
          }
          {%- endif -%}
        {%- endfor -%}
        ]
        {%- else -%}
        "items": []
        {%- endif -%}
      }
    }
  {%- endfor -%}
  ]
}