{%- set j = joiner(",") -%}
{
  "items" : [ 
{%- for (k,v) in scm_configs.CLOUDERA_MANAGER.items() -%}
{{ j() }}
  {%- if (v is sameas true) or (v is sameas false) -%}
    {
      "name" : "{{ k | upper }}",
      "value" : {{ v | lower }}
    }
  {%- else -%}
    {
      "name" : "{{ k | upper }}",
      "value" : "{{ v }}"
    }
  {%- endif -%}
{%- endfor -%}
  ]
}
