{%- set parcel_repos = [] -%}
{%- for parcel_repo in deployment.clusters[0].parcel_repositories -%}
  {%- if '/p/' in parcel_repo -%}
    {%- set parcel_repo_auth = parcel_repo | regex_replace('^(?P<proto>http[s]?://)', '\\g<proto>'+cloudera_repo_username+':'+cloudera_repo_password+'@') -%}
    {{ parcel_repos.append(parcel_repo_auth) }}
  {%- else -%}
    {{ parcel_repos.append(parcel_repo) }}
  {%- endif -%}
{%- endfor -%}
{{ parcel_repos | to_yaml }}
